.box_con{

	text-shadow: none!important;

	text-transform: uppercase;
	color: #00008b;
}
.box_title {
	/*background-color: #fff;
	opacity: 0.7;*/
	font-size: 18px;
	color: #00008b;
	font-style: bold;
	font-weight: 900;
	text-shadow: 1px 1px #00008b; 
}
.box-1 {
	/*background-color: #fff;
	opacity: 0.7;*/
	text-shadow: 1px 1px #00008b; 
}